$black: #000;
$white: #fff;
$transparent: rgba(255, 255, 255, 0.2);

$background: linear-gradient(
  to left bottom,
  #defffd85,
  #c2f1f785,
  #a8e2f485,
  #94d2f285,
  #87c1ef85,
  #7ec0f285,
  #74bff585,
  #69bff885,
  #52cffe85,
  #41dfff85,
  #46eefa85,
  #5ffbf851
);
